body {
  background-image: url('http://images2.layoutsparks.com/1/242291/red-purple-silk-animated.gif');
}
header {
  font-family: Impact;
  position: fixed;
  top: 0px;
  background-color: #00FF00;
}
#title {
  font-size: 50px;
  color: DarkGreen;
}
#subtitle, #subtitle2 {
  font-size: 20px;
  color: Purple;
}
#content {
  width: 100%;
}
footer {
  position: fixed;
  background-color: White;
  color: Yellow;
  bottom: 0px;
}
