body {
  background-image: url('http://images2.layoutsparks.com/1/242291/red-purple-silk-animated.gif');
}
header {
  font-family: Impact;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #00FF00;
}
#title {
  font-size: 50px;
  color: DarkGreen;
  background-color: #7D26CD;
  border: 5px dashed Yellow;
}
#subtitle, #subtitle2 {
  background-image: url('http://i675.photobucket.com/albums/vv117/markaevans/myspace-backgrounds-03GREEN.gif');
  font-size: 20px;
  color: Purple;
  background-color: DarkGreen;
  border: 10px dotted Purple;
}
#content {
  width: 80%;
  position: absolute;
  top: 550px;
  right: 50px;
  background-color: #A3C00F;
  border: 15px groove Orange;
}
#inp,#seiz,#diz,#flash {
  height: 250px;
  width: 500px;
  float: left;
}
#inp {
  font-size: 30px;
  background-image: url('http://www.netanimations.net/animated_blue_rain.gif');
  font-family: Garamond;
  color: Red;
}
#seiz {
  font-size: 20px;
  background-image: url('http://img2.wikia.nocookie.net/__cb20121114204510/lyricwiki/images/4/49/Bin%C3%A4rpilot_-_Songs_for_Alan_Turing.gif');
  font-family: Helvetica;
  color: White;
}
#diz {
  font-size: 40px;
  font-family: 'Courier New';
  background-image: url('http://media.giphy.com/media/K9ycAYC35Iv1S/giphy.gif');
  color: #ccff15;
}
#flash {
  font-size: 35px;
  font-family: Georgia;
  background-color: Black;
  color: Red;
}
footer {
  position: fixed;
  width: 100%;
  background-color: White;
  color: Yellow;
  bottom: 0px;
  font-family: 'Comic Sans';
  border: 5px ridge Purple;
}
footer a {
  background-color: red;
}
